---
layout: default
button1: true
button2: true
link: https://buy.stripe.com/fZe4jDfwK7yj5BC00a
text-button: Стоимость блока из 7 практик - 5 250 ₽
---

<!-----Course info-->
<section class="capped-width-narrow padded bg-light" id="course">
  <div class="center editable">
      <h3>Блок йога практик<br />ЧАКРА-йога</h3>
      <p class="padded-2p">┈───ᗊ───┈</p>
      <p><em> Блок практик ЧАКРА-йога доступен только для учеников студии, прошедших все предыдущие блоки </em></p>
      <p>Старт 14 июня 2022<br />продолжительность 7 недель (1 практика в неделю)</p>
      <p>Доступ к практикам открыт на 3 месяца с момента начала практик</p>
      <p>*** Возможны варианты продления доступа. Узнать подробности и продлить доступ к практикам можно написав на имейл yoga.studio.instinct@gmail.com</p>
      <p class="padded-2p">┈───ᗊ───┈</p>
      <h3>Этот блок для тебя, если:</h3>
      <ul>
          <li>- Ты готова подняться на еще одну ступеньку вглубь, работая с энергией на уровне подсознания</li>
          <li>- Ты чувствуешь наличие эмоциональных блоков и установок, ограничивающих твой рост и развитие и хочешь освободиться от них</li>
          <li>- Ты готова проработать свои страхи и получить уверенность в себе и своих силах для воплощения миссии своей души в реальность</li>
          <li>- Ты намерена изменить свою привычную реакцию на трудные события в жизни и наконец выйти за их пределы</li>
          <li>- Ты готова углубить связь со своей интуицией и выйти на новый уровень общения с духовным миром</li>
          <li>&nbsp;</li>
      </ul>
  </div>   

  {% if page.button1 == true %}
  <div class="center">
    <a class="button-dark" href="{{page.link}}" target="_blank"> Присоединиться </a>
  </div>

  {% endif %}


<!--  Intro section  -->
  
  <div class="center editable">
      <p class="padded-2p">┈───ᗊ───┈</p>
      <h3>7 йога практик в записи продолжительностью 80 минут</h3>
  </div>

  <div class="center editable">
      <div>
          <ul>
              <li>- Пробуждение энергетического тела на еще более глубоком уровне</li>
              <li>- Активация каждой из 7 чакр для восстановления функции энергетического тела</li>
              <li>- Работа с каждой чакрой для очищения от эмоциональных травм, блоков и установок, тормозящих духовное и материальное развитие</li>
              <li>- Работа с подсознанием через активацию чакр</li>
              <li>- Развитие связи с интуиций и духовным миром</li>
              <li>- Изменение курса событийности жизни, освобождение от ситуаций &ldquo;замкнутый круг&rdquo; и движение за его пределы</li>
          </ul>
      </div>
      <p class="padded-2p">┈───ᗊ───┈</p>
  </div> 

<!-------Structure classes-->

 <div class="center editable">
     <h3>Структура классов:</h3>
 </div>

   <div class="center editable">
       <h3 class="padded-t-7 padded-b-0">Практика 1</h3>
       <h3 class="emphasis">Чакра 1 Муладхара (право быть, иметь)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Частые страхи, сомнения и беспокойства</li>
               <li>- Чувство одиночества и незащищенности</li>
               <li>- Проблемы с финансами</li>
               <li>- Непринятие себя, своего тела</li>
           </ul>
       </div>
       <p class="emphasis"><em>Отражение в теле:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Органы нижнего таза</li>
               <li>- Ноги</li>
               <li>- Проблемы с весом</li>
               <li>- Зубы</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Соединение с энергией Земли для исцеления 1 чакры</p>
           </div>
       </div>
       <h3 class="padded-t-7 padded-b-0">Практика 2</h3>
       <h3 class="emphasis">Чакра 2 Свахистхана (право чувствовать, хотеть)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Частое чувство вины</li>
               <li>- Отсутсвие понимания своих талантов, своей миссии жизни</li>
               <li>- Нераскрытый творческий потенциал</li>
               <li>- Проблемы в интимной жизни</li>
               <li>- Нет понимания своих истинных желаний</li>
           </ul>
       </div>
       <p class="emphasis"><em>Отражение в теле:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Репродуктивные органы</li>
               <li>- Женский цикл</li>
               <li>- Мочеиспускательная система</li>
               <li>- Эндокринная система</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Очищение элемента воды тела для соединения с интуицией и креативным потенциалом</p>
           </div>
       </div>
       <h3 class="padded-t-7 padded-b-0">Практика 3</h3>
       <h3 class="emphasis">Чакра 3 Манипура (право действовать, достигать)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Чувство стыда, страх быть увиденным с действии</li>
               <li>- Отсутсвие силы воли, движения к поставленной цели</li>
               <li>- Отсутсвует ощущение собственной значимости</li>
               <li>- Заниженная уверенность в себе</li>
               <li>- Боязнь &ldquo;авторитетов" (гос органов, учителей, начальников, дорогих магазинов)</li>
           </ul>
       </div>
       <p class="emphasis"><em>Отражение в теле:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Пищеварительная система</li>
               <li>- Печень</li>
               <li>- Желудок</li>
               <li>- Переедание / Эмоциональное питание</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Регуляция внутреннего огня путем соединения с энергией солнца</p>
           </div>
       </div>
       <h3 class="padded-t-7 padded-b-0">Практика 4</h3>
       <h3 class="emphasis">Чакра 4 Анахата (право любить, быть любимым)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Невозможность радоваться жизни безусловно, жить в моменте</li>
               <li>- Неумение любить (отдавать) и/или быть любимым (принимать)</li>
               <li>- Нелюбовь к себе, старание угодить другим в ущерб себе</li>
               <li>- Отсутсвие связи с душой</li>
               <li>- Склонность к депрессии</li>
               <li>- Любовь из позиции жертвы (зависимость, ревность)</li>
           </ul>
       </div>
       <p class="emphasis"><em>Отражение в теле:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Сердце</li>
               <li>- Легкие / дыхание</li>
               <li>- Иммунитет</li>
               <li>- Кровообращение</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Возвращение домой (сердце - врата к божественному)</p>
           </div>
       </div>
       <h3 class="padded-t-7 padded-b-0">Практика 5</h3>
       <h3 class="emphasis">Чакра 5 Вишудха (право голоса, быть услышанным)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Страх выражения своих мыслей, идей</li>
               <li>- Отсутсвие ощущения себя авторитетом / экспертом</li>
               <li>- Чувства стыда при объявлении о своих талантах</li>
               <li>- Тихий, неуверенный голос</li>
               <li>- Страх публичных выступлений</li>
           </ul>
       </div>
       <p class="emphasis"><em>Отражение в теле:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Горло</li>
               <li>- Уши</li>
               <li>- Голосовые связки</li>
               <li>- Шея / плечи</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Раскрытие энергетического канала для свободного проявления божественной миссии</p>
           </div>
       </div>
       <h3 class="padded-t-7 padded-b-0">Практика 6</h3>
       <h3 class="emphasis">Чакра 6 Ажна (право видеть)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Слабая связь с интуицией</li>
               <li>- Отсутсвие вдохновения</li>
               <li>- Отсутсвие ясности сознания, понимания вселенской мудрости</li>
               <li>- Путаница в голове на тему мироздания</li>
               <li>- Потеря себя в иллюзии</li>
           </ul>
       </div>
       <p class="emphasis"><em>Отражение в теле:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Головные боли</li>
               <li>- Бессоница</li>
               <li>- Алкогольная и наркозависимость</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Активация интуиции путем открытия третьего глаза</p>
           </div>
       </div>
       <h3 class="padded-t-7 padded-b-0">Практика 7</h3>
       <h3 class="emphasis">Чакра 7 Сахасрара (право знать)</h3>
       <p class="emphasis"><em>Дисбаланс:</em></p>
       <div class="grid-center">
           <ul class="col-6_md-10_sm-12-middle left">
               <li>- Недоверие миру / Вселенной / Богу / ангелам</li>
               <li>- Нет стремления к духовному развитию</li>
               <li>- Чувство одиночества / обреченности</li>
               <li>- Страх смерти</li>
           </ul>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Отражение в теле:</em></h3>
               <p class="left">Не имеет связи с физическим телом</p>
           </div>
       </div>
       <div class="grid-center">
           <div class="col-6_md-10_sm-12-middle">
               <h3 class="emphasis"><em>Медитация:</em></h3>
               <p class="left">Попытка единения с первоистоком</p>
           </div>
       </div>
       <p class="padded-2p">┈───ᗊ───┈</p>
       <p>До встречи на коврике</p>
       <p>Юля</p>
       <p class="padded-2p">┈───ᗊ───┈</p>
   </div>

   <div class="center">

    {% if page.button2 == true %}
       <div class="padded">
           <p>{{page.text-button}}</p><a class="button-dark margin-tb3" target="_blank" href="https://buy.stripe.com/fZe4jDfwK7yj5BC00a">Присоединиться </a>
       </div>
    {% endif %}

    <div class="padded">
        <h4 class="button-b"><a href="praktika-na-russkom">&larr; Назад </a></h4>
    </div>
    
   </div> 

</section>
