---
layout: default
title: Блок йога практик ОСНОВЫ
button1: true
button2: true
link: https://buy.stripe.com/dR68zTbgu5qbe887t0
text-button: Стоимость блока из 7 практик - 6 300 ₽
---

<!-----Course info-->
  <section class="grid-center padded bg-light capped-width-narrow" id="course">
   <div class="col-12 center editable">
       <h3>Блок йога практик ОСНОВЫ</h3>
       <p class="padded-2p">┈───ᗊ───┈</p>
       <!--<p><em> Набор на блок практик ОСНОВЫ закрыт<br />&zwnj;Следующий поток в 2022 </em></p>--->
       <p><em><strong>ОСНОВЫ </strong> является обязательным блоком для прохождения последующих, более глубоких энергетических практик</em></p>
       <p><em></em>Продолжительность курса 7 недель (1 практика в неделю)</p>
       <p>Доступ к практикам открыт на 3 месяца с момента начала практик</p>
       <p>*** Возможны варианты продления доступа. Узнать подробности и продлить доступ к практикам можно написав на имейл yoga.studio.instinct@gmail.com</p>
       <p><em>Открыт набор на поток III. Следующий поток ожидается в 2023</em></p>
       <p class="padded-2p">┈───ᗊ───┈</p>
       <h3>Для кого этот курс:</h3>
       <ul>
           <li>- Если ты никогда не занималась йогой и не знаешь с чего начать</li>
           <li>- Если опыт йоги есть, но втянуться в практику не удается</li>
           <li>- Если ты уже практикуешь йогу, но хотела бы узнать больше об аспектах энергетической работы</li>
           <li>- Ты чувствуешь, что в тебе есть более глубокий потенциал и хочешь погрузиться в себя, чтобы исследовать его возможности</li>
           <li>- Ты читаешь это и чувствуешь отклик внутри</li>
       </ul>
   </div>
   <div class="grid-center">

    <div class="col-12 center">
        <p class="padded-2p"> ┈───ᗊ───┈ </p>
       </div>
           
     
     
           {% if page.button1 == true %}
           <div class=" col-12 center">
             <a class="button-dark" href="{{page.link}}" target="_blank"> Присоединиться </a>
           </div>
         
           {% endif %}
     <!--  Intro section  -->
   </div>

   
   <div class="col-12 center editable">
       <h3>7 йога практик в записи продолжительностью 80 минут</h3>
   </div>
 
   <div class="col-12 center editable">
       <div>
           <ul>
               <li>- Основы практики и теории йоги</li>
               <li>- Постановка техники основных асан</li>
               <li>- Введение в работу с дыханием</li>
               <li>- Основы баланса, его роль в йоге</li>
               <li>- Введение в работу с энергией</li>
               <li>- Медитация с сопровождением в конце каждой практики</li>
           </ul>
       </div>
   </div>
   <p class="padded-2p"> ┈───ᗊ───┈ </p>
  

 <!-------Structure classes-->

  <div class="col-12 center editable">
      <h3>Структура классов</h3>
  </div>

    <div class="col-12 center editable">
        <h3 class="emphasis">Практика 1</h3>
        <p>Практика: Разбор самых часто употребляемых асан<br />Теория: Главные принципы йоги, введение в основы энергетического тела<br />Медитация: Добро пожаловать в тело</p>
        <h3 class="emphasis">Практика 2</h3>
        <p>Практика: Разбор асан - продолжение + увеличение амплитуды движения<br />Теория: Что такое йога, основы энергетического тела - продолжение<br />Медитация: Интеграция практики в шавасане</p>
        <h3 class="emphasis">Практика 3</h3>
        <p>Практика: Расслабление<br />Теория: Исцеление энергией - введение<br />Медитация: Расширение энергетического тела</p>
        <h3 class="emphasis">Практика 4</h3>
        <p>Практика: разбор Сурья Намаскар<br />Теория: Работа с энергией, энергетические блоки - введение<br />Медитация: Движение энергии в теле</p>
        <h3 class="emphasis">Практика 5</h3>
        <p>Практика: Погружение в тело<br />Теория: Основы дыхания в йоге<br />Медитация: Йога Нидра</p>
        <h3 class="emphasis">Практика 6</h3>
        <p>Практика: Баланс в йоге<br />Теория: Эффект баланса на повседневную жизнь, принципы и строение баланса<br />Медитация: Новая программа баланса в жизни</p>
        <h3 class="emphasis">Практика 7</h3>
        <p>Практика: Осознанная практика-погружение<br />Теория: Виды работы с энергией<br />Медитация: Позволение на работу с энергией</p>
        <p class="padded-2p">┈───ᗊ───┈</p>
        <p>До встречи на коврике!</p>
        <p>Юля</p>
        <p class="padded-2p">┈───ᗊ───┈</p>
    </div>

    {% if page.button2 == true %}
       <div class="center padded">
           <p>{{page.text-button}}</p><a class="button-dark margin-tb3" target="_blank" href="{{page.link}}">Присоединиться </a>
       </div>
    {% endif %}

    <div class="col-10_sm-12 grid-center center editable">
        <div class="col-10">
            <h4 class="button-b"><a href="praktika-na-russkom">&larr; Назад </a></h4>
        </div>
    </div>

    <!------Contact form--->

    <div class="grid-center editable">
      <div class="col-11-middle center padded bg-light editable">
          <h3>Присоединиться<br /><span class="text-xs"> (следующий поток стартует в 2023)</span></h3>
          <p>Чтобы попасть в лист ожидания на блок практик ОСНОВЫ заполни форму ниже -</p>
      </div>

      <div class="col-11-middle center">
        <div class="ml-form-embed" data-account="3578258:e1w5t0w8q4" data-form="5005118:z6x2q0">
        </div>
      </div>
    </div> 

    

 </section>
