<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    
    <!-- Add Google Fonts Here  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">

    <!-- This Fonts Awesome icons-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- My own custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>

<body>
  <header class="grid padded-2p bg-light">
    <div class="col-4-middle logo">
      <a href="/">
        <h2> LOGO </h2>
      </a>
    </div>
    <nav class="col-8-middle right">
      <a href="#"> Курс ОСНОВЫ </a>
      <a href="#"> О проекте </a>
      <a href="#"> Контакты </a>
    </nav>
  </header>
  

    {{content}}

 <!-----Footer -------->
            
              
<footer class="grid bg-beige">
  <!-- column -->
  <div class="col-5_sm-12 padded">
    <h2 class="logo"> Instinct Yoga Studio </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>
  <div class="col-1 sm-hidden"></div>
  <!-- column -->
  <div class="col-6_sm-12-middle padded right">
    <nav class="inline">
      <a href="#"> Lorem ipsum </a>|
      <a href="#"> Dolor sit </a>|
      <a href="#"> Consectetur </a>
    </nav>
    <nav class="inline socials">
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#">
      <i class="fas fa-envelope"></i>
      </a>
    </nav>
  </div>
  <div class="col-12">
      <p class="center"> Copyright 2021 </p>
  </div>
  
</footer>

      <!-------Add jQuery script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <!------Slick slider-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <!-----our animate scroll-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


  <!-----our custom Javascript file------>
  <script src="/scripts.js"></script>
</body>

</html>