---
layout: default
title: Название страницы
button1: false
button2: false
link: https://buy.stripe.com/
text-button: Стоимость блока - AUD 105
---

<!-----Course info-->
<section class="capped-width-narrow padded bg-light" id="course">
    <div class="center editable">
        <h3>Блок йога практик<br />ЙОГА</h3>
        <p class="padded-2p">┈───ᗊ───┈</p>
        <p><em> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum unde earum molestiae aspernatur! Officia, vitae blanditiis ex sit exercitationem debitis distinctio. Dolores id porro ab sed eveniet perferendis, accusamus dignissimos! </em></p>
        <p>*** Узнать подробности и продлить доступ к практикам можно написав на имейл <a href="mailto:yoga.studio.instinct@gmail.com"> yoga.studio.instinct@gmail.com </a></p>
        <p class="padded-2p">┈───ᗊ───┈</p>
        <h3>Этот блок для тебя, если:</h3>
        <ul>
            <li>- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ex non quam placeat laudantium, minus suscipit nemo iste ea totam, ullam assumenda distinctio earum cupiditate facere cumque deserunt labore aperiam?</li>
            <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi, delectus repellendus illum perferendis nam asperiores. Nobis tenetur est nulla. Aperiam sapiente nemo ducimus exercitationem corporis eaque sequi! Similique, velit.</li>
            <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, doloremque. Laborum magnam fuga aliquid dolores ducimus pariatur quae, officia placeat corrupti dicta hic natus voluptas quasi animi molestiae molestias magni?</li>
            <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore ut vero eius rerum debitis velit, nesciunt quasi ex amet dolorum sed laboriosam eligendi dolorem pariatur totam incidunt labore quod?</li>
            <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, molestias fuga voluptatum ex recusandae impedit eveniet quis deleniti asperiores? Nemo, veritatis. Veniam, impedit aliquam. Nemo vero reiciendis recusandae quis quo!</li>
            <li>&nbsp;</li>
        </ul>
    </div>   
  
    {% if page.button1 == true %}
    <div class="center">
      <a class="button-dark" href="{{page.link}}" target="_blank"> Присоединиться </a>
    </div>
  
    {% endif %}
  
  
  <!--  Intro section  -->
    
    <div class="center editable">
        <p class="padded-2p">┈───ᗊ───┈</p>
        <h3>Практика Йога</h3>
        <p>&nbsp;</p>
    </div>
  
     <div class="center editable">
         <h3 class="padded-t-7 padded-b-0">Заголовок</h3>
         <h3 class="emphasis">Подзаголовок</h3>
         <p class="emphasis"><em>Подзаголовок2:</em></p>
         <div class="grid-center">
             <ul class="col-6_md-10_sm-12-middle left">
                <li>- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ex non quam placeat laudantium, minus suscipit nemo iste ea totam, ullam assumenda distinctio earum cupiditate facere cumque deserunt labore aperiam?</li>
                <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi, delectus repellendus illum perferendis nam asperiores. Nobis tenetur est nulla. Aperiam sapiente nemo ducimus exercitationem corporis eaque sequi! Similique, velit.</li>
                <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, doloremque. Laborum magnam fuga aliquid dolores ducimus pariatur quae, officia placeat corrupti dicta hic natus voluptas quasi animi molestiae molestias magni?</li>
                <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore ut vero eius rerum debitis velit, nesciunt quasi ex amet dolorum sed laboriosam eligendi dolorem pariatur totam incidunt labore quod?</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, molestias fuga voluptatum ex recusandae impedit eveniet quis deleniti asperiores? Nemo, veritatis. Veniam, impedit aliquam. Nemo vero reiciendis recusandae quis quo!</li>
                <li>&nbsp;</li>
             </ul>
         </div>
         <p class="emphasis"><em>Заголовок:</em></p>
         <div class="grid-center">
             <ul class="col-6_md-10_sm-12-middle left">
                <li>- Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus ex non quam placeat laudantium, minus suscipit nemo iste ea totam, ullam assumenda distinctio earum cupiditate facere cumque deserunt labore aperiam?</li>
                <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia excepturi, delectus repellendus illum perferendis nam asperiores. Nobis tenetur est nulla. Aperiam sapiente nemo ducimus exercitationem corporis eaque sequi! Similique, velit.</li>
                <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, doloremque. Laborum magnam fuga aliquid dolores ducimus pariatur quae, officia placeat corrupti dicta hic natus voluptas quasi animi molestiae molestias magni?</li>
                <li>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas inventore ut vero eius rerum debitis velit, nesciunt quasi ex amet dolorum sed laboriosam eligendi dolorem pariatur totam incidunt labore quod?</li>
                <li>- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, molestias fuga voluptatum ex recusandae impedit eveniet quis deleniti asperiores? Nemo, veritatis. Veniam, impedit aliquam. Nemo vero reiciendis recusandae quis quo!</li>
                <li>&nbsp;</li>
             </ul>
         </div>
        
         <p class="padded-2p">┈───ᗊ───┈</p>
         <p>До встречи на коврике</p>
         <p>Юля</p>
         <p class="padded-2p">┈───ᗊ───┈</p>
     </div>
  
     <div class="center">
  
      {% if page.button2 == true %}
         <div class="padded">
             <p>{{page.text-button}}</p><a class="button-dark margin-tb3" target="_blank" href="{{page.link}}">Присоединиться </a>
         </div>
      {% endif %}
      
     </div> 
  
  </section>
  